
<div class="form-group" style="text-align: center">
  <a [routerLink]="['/create-collection']" class="btn btn-link">Create Collection</a>
</div>


<div *ngIf="currentUser && !currentUser.isVerified" class="form-group" style="text-align: center">
  Your account is unverified.
  <button (click)="verifyAccount()" class="btn btn-link">Verify Account</button>
</div>


<div class="container">
  <div class="row">
    <div class=" col col-12 col-lg-3" *ngFor="let post of userCollections">
      <div class="card card-block">
        <h4 class="card-title">{{ post.title }}</h4>
        <img *ngIf="post.images && post.images.length>0 &&!post.dmca_block" class="card-img-top" [src]="post.images[0].href"
                                                         alt="Image Preview">
        <p *ngIf="post.dmca_block"> This collection has been blocked by DMCA</p>
        <p *ngIf="post.dmca_block"> <strong>Reason: </strong>{{post.dmca_message}}</p>
        <p class="card-text">{{post.description}}</p>

        <a [routerLink]="['/edit-collection', post._id]" class="btn btn-link">Edit Collection</a>
      </div>
    </div>
  </div>

</div>

