<div class="container">

  <div class="row" *ngIf="adminUser">

    <h2>Lab 5 Nasa Terms of Service</h2>

    <button *ngIf="isAdmin" (click)="editMode=!editMode" class="btn btn-link">Edit Policy</button>

    <div class="row">
      <h4> Privacy Policy </h4>

      <mat-form-field *ngIf="editMode" style="width: 200em;">
      <textarea matInput [(ngModel)]="adminUser.privacy_policy">
      </textarea>
      </mat-form-field>
      <button (click)="savePolicyEdits()" class="btn btn-link">Save</button>

      <p>
        {{adminUser.privacy_policy}}
      </p>

    </div>


    <div class="row">
      <h4> Security Policy </h4>

      <mat-form-field *ngIf="editMode" style="width: 200em;">
      <textarea matInput [(ngModel)]="adminUser.security_policy">

    </textarea>
      </mat-form-field>

      <button (click)="savePolicyEdits()" class="btn btn-link">Save</button>
      <p>
        {{adminUser.security_policy}}
      </p>
    </div>



    <h2> DMCA Policy</h2>

    <p>

      If you believe your copyright-protected work was posted on YouTube without authorization, you may submit a copyright infringement notification.
      These requests should only be submitted by the copyright owner or an agent authorized to act on the owner’s behalf.
      If you would like to report copyright infringement, please see
      <a (click)="scrollTo('how-to-log-take-down-request')">how to log takedown requests</a>.
    </p>

  </div>

  <div class="row">

    <h5 id="how-to-log-take-down-request">How to Log TakeDown Request</h5>

    <p>
      In the  <a routerLink="/collections-list">collections list </a>page.
      Enter the reason for your complaint and click the file complaint button.
    </p>

    <h5>DMCA TakeDown Procedure</h5>

    <ol>
      <li>
        In the collection detail page, accessed via the <a routerLink="/collections-list">collections list </a>page.
        Enter the reason for your complaint and click the file complaint button.
      </li>


      <li>
        Users can dispute take-down complaints in the edit collection page via <a routerLink="/my-collections">my collections</a>.
        Enter the reason for your dispute and click the File Dispute button.
      </li>

      <li>
        In the <a routerLink="/admin">admin</a> page.
        You can review the complaints and disputes for each item,
        you have the option to click Remove Takedown Block to re-grant access to the content.
      </li>

    </ol>

  </div>

</div>
