<div class="container">
  <div class="card">
    <div class="row">
      <div class="card-content">
        <form #form="ngForm" (ngSubmit)="login()"  class="col s12">
          <h4>Login</h4>
          <div class="row">
            <mat-form-field class="col s12">
              <input matInput class="browser-default" id="username" type="text" ngControl="username"
                     required [(ngModel)]="credentials.username" name="username" placeholder="Email or username">
            </mat-form-field>
          </div>
          <div class="row">
            <mat-form-field class="col s12">
              <input matInput class="browser-default" id="password" type="password" required ngControl="password"
                     [(ngModel)]="credentials.password" name="password" placeholder="Password">
            </mat-form-field>
            <div class="col s12 button-container">
              <button type="submit" class="waves-effect waves-light btn left" (click)="login()">Login</button>
              <a class="waves-effect waves-light btn right" routerLink="/register">Register</a>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
