
<div class="container">
<div class="row">
    <div class="col-sm-12 col-md-8 offset-md-2">
      <h1>Welcome to Tomiwa's Nasa Page</h1>

      <p style="font-size: large">This is a web app for creating and displaying image collections
         from the <a href="https://images.nasa.gov/" target="_blank"> NASA API.</a></p>
      <a class="waves-effect waves-light btn right" routerLink="/login">Login</a>
      <a class="waves-effect waves-light btn right" routerLink="/nasa-collection">
        <button>Search Nasa</button>
      </a>

  </div>
</div>
</div>
